*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link{
  color: inherit;
  text-decoration: inherit;
  margin: auto;
  font-size: 50px;
  color: rgb(41, 39, 39);
  font-style: normal;
}

body{
  /*background: #D5E2E0;*/
  background: rgba(119, 161, 202, 0.3);
  
}